/*// POP-UP BASE STYLES //*/

body{margin: 0; position: relative;}
body.pop-up{background: #222;}
*{
  font-family: Calibri, sans-serif;
  font-weight: normal;
  color: #333;
}
h1{
  font-size: 48px;
  margin: 10px 0;
}
p{
  margin-bottom: 40px;
}
#pop-up{
  position: relative;
  top: 200px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
#pop-up .container{
  background: #f0e4d4;
  padding: 30px;
  position: absolute;
  top: 60px;
  width: 100%;
  box-sizing: border-box;
}
#pop-up input{
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #333;
  font-size: 18px;
}
button{
  padding: 10px;
  color: #fff;
  background: #333;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #333;
  font-size: 18px;
}
.cross{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #555;
  color: #ddd;
  font-weight: bold;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 11px;
}

/*// POP-UP ANIMATION STYLES //*/
#pop-up .container {
  top: -500px;
  animation: drop 1s forwards ease-in,
             swing 2s 1s forwards ease-out;
  transform-origin: 10px 10px;
}

@-webkit-keyframes drop {
  0% { opacity: 0; }
  70% { transform: translateY(650px); }
  100% { transform: translateY(560px); opacity: 1;}
}
@-o-keyframes drop {
  0% { opacity: 0; }
  70% { transform: translateY(650px); }
  100% { transform: translateY(560px); opacity: 1;}
}
@-moz-keyframes drop {
  0% { opacity: 0; }
  70% { transform: translateY(650px); }
  100% { transform: translateY(560px); opacity: 1;}
}
@keyframes drop {
  0% { opacity: 0; }
  70% { transform: translateY(650px); }
  100% { transform: translateY(560px); opacity: 1;}
}

@-webkit-keyframes swing {
  0% { transform: translateY(560px) rotateZ(0deg); }
  40% { transform: translateY(560px) rotateZ(130deg);}
  70% { transform: translateY(560px) rotateZ(70deg);}
  100% { transform: translateY(560px) rotateZ(80deg);}
}
@-o-keyframes swing {
  0% { transform: translateY(560px) rotateZ(0deg); }
  40% { transform: translateY(560px) rotateZ(130deg);}
  70% { transform: translateY(560px) rotateZ(70deg);}
  100% { transform: translateY(560px) rotateZ(80deg);}
}
@-moz-keyframes swing {
  0% { transform: translateY(560px) rotateZ(0deg); }
  40% { transform: translateY(560px) rotateZ(130deg);}
  70% { transform: translateY(560px) rotateZ(70deg);}
  100% { transform: translateY(560px) rotateZ(80deg);}
}
@keyframes swing {
  0% { transform: translateY(550px) rotateZ(0deg); }
  40% { transform: translateY(550px) rotateZ(130deg);}
  70% { transform: translateY(550px) rotateZ(70deg);}
  100% { transform: translateY(550px) rotateZ(80deg);}
}

/*// BASKET BASE STYLES //*/

header{
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  background: #fff;
}
header:after{
  display: block;
  content: "";
  clear: both;
}
.basket ul{
  padding: 0;
  margin-top: 40px;
}
.basket li{
  display: inline-block;
  list-style-type: none;
  width: 30%;
  margin: 30px 1.5%;
  text-align: center;
}
.basket button{
  border-radius: 10px;
  cursor: pointer;
}
.basket header div{
  float: right;
  position: relative;
  z-index: 1;
}
.basket header h1{
  float: left;
}

/*// BASKET ANIMATION STYLES //*/
