/*// MY VERSION OF CODE //*/
body {
  background: #333;
  font-family: verdana, sans-serif;
}

.wrapper {
  width: 80vw;
  margin: 40px auto;
}

h1 {
  color: white;
  font-weight: normal;
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));/* creates as much columns as can fit with a min width of 150px */
}

.front,
.back {
  padding: 50% 0;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

/*// ANIMATION STYLES //*/

.back {
  transform: rotateY(90deg);
  position: absolute;
}

.front:hover {
  animation: flip 1s forwards ease-in;
}
.back:hover {
  animation: flip 1s 1s forwards ease-out reverse;
  /* back is invisible since it is rotated by 90deg so you cannot hover over it; and there is no containing elements that I can target => animation does not work for back side */
}

@-webkit-keyframes flip {
  from { transform: rotateY(0deg);}
  to { transform: rotateY(90deg);}
}
@-o-keyframes flip {
  from { transform: rotateY(0deg);}
  to { transform: rotateY(90deg);}
}
@-moz-keyframes flip {
  from { transform: rotateY(0deg);}
  to { transform: rotateY(90deg);}
}
@keyframes flip {
  from { transform: rotateY(0deg);}
  to { transform: rotateY(90deg);}
}
